*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    font-family:"Raleway-Bold";
    overflow-x: hidden;

  }
  a{
    text-decoration: none;
  }
.contenedor-secciones{
  width: 100vw;
  z-index: -1000;
  height: 100vh;
  background: linear-gradient(rgba(4, 0, 25, 0.7) 0%, rgba(3, 1, 29, 0.7) 100%),
  url(recursos/puente-colgante.jpg);
  background-position: center;
  background-size: cover;
  position: absolute;
  overflow-x: hidden;
}
.sobre-mi{
  top: 100vh;
}
.container-sobre-mi{
  width: 80vw;
  height: 50vh;
  color: white;
}
.sobre-mi-der{
  font-family:"Raleway-Bold";
  color: #bfceeb;
}
.titulo-sobre-mi{
  position: relative;
}
.titulo-sobre-mi::after{
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0px;
  width: 50px;
  background-color: #00D1FF;
  height: 3px;
}

.imagen-perfil{
  padding-top: 100px;
  border-radius: 20px;
  width: 250px;
  height: 250px;
  border: 2px solid black;
}
.descargar-cv{
  color: #00D1FF;
}
.descargar-cv:hover{
  color: rgb(76, 244, 188);
}


.cuadro-info{
  width: 710px;
  height: 200px;
  background-color: black;
  border: 2px solid #00D1FF;
  border-radius: 20px;
}

.cuadro-info ul li{
  padding: 10px 0!important;
  position: relative;
}
.cuadro-info ul li::after{
  content: "";
  position: absolute;
  left: -30px;
  width: 20px;
  background-color: #00D1FF;
  height: 3px;
  top:20px;
}

