<div class="container-header w-100 d-flex justify-content-center">
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid ps-5 pe-5">
      <a class="navbar-brand izq d-flex flex-column align-items-md-center pb-2" href="#">
        <img class="logo-enlace" src="./assets/logo-argentina-programa-sin-fondo.png" alt="logo Argentina Programa">
        <span class="subtitulo ">#YoProgramo </span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class=" collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-lg-0 ">
          <li class="nav-item ocultar-nombre">
            <a class="nav-link active" aria-current="page" href="#">
              SOBRE MI
            </a>
          </li> 
          <li class="nav-item ocultar-nombre">
            <a class="nav-link active" aria-current="page" href="#">
            EXPERIENCIA
            </a>
          </li> 
          <li class="nav-item ocultar-nombre">
            <a class="nav-link active" aria-current="page" href="#">
            EDUCACIÓN
            </a>
          </li> 
          <li class="nav-item ocultar-nombre">
            <a class="nav-link active" aria-current="page" href="#">
            PROYECTOS
            </a>
          </li> 
          <li class="nav-item ocultar-nombre">
            <a class="nav-link active" aria-current="page" href="#">
              SKILLS    </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"><i class="fa-solid fa-envelope "></i>
              <span class="ocultar-nombre">Correo electrónico</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><i class="fa-brands fa-linkedin "></i><span class="ocultar-nombre">Linkedln</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link "><i class="fa-brands fa-github "></i><span class="ocultar-nombre">Github</span>
              </a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <button class="btn btn-outline-info ingresar fs-6 " type="submit">INGRESAR</button>
        </form>
      </div>
    </div>
  </nav>

</div>

<!--<header  class=" d-flex justify-content-center align-content-center w-100 pt-3">
  <nav class="barra-inicio d-flex justify-content-start justify-content-lg-between align-items-center">
      <div class="izq d-flex flex-column align-items-md-center pb-2">
          <!--desactivado<a href="#" class="logo-enlace"><img class="logo" src="./assets/logo-argentina-programa-sin-fondo.png" alt="logo Argentina Programa"></a>
          <span class="subtitulo ">#YoProgramo </span><!--desactivado
      </div>

      <div class="centro ms-4 pb-3" id="centro">
              <ul class="d-flex align-items-center pt-4 menu-responsive">
                <li class="w-100 d-flex justify-content-center pt-5"><button type="button " class="w-75 btn btn-info ingresar-responsive p-3 fs-1">INGRESAR</button>
                </li>
                  <li class="item-menu select"><a href="#inicio" class="font1">INICIO</a></li>
                  <li class="item-menu "><a href="#experiencia" class="font1">EXPERIENCIA</a></li>
                  <li class="item-menu "><a href="#educacion" class="font1">EDUCACIÓN</a></li>
                  <li class="item-menu "> <a href="#proyectos" class="font1">PROYECTOS</a></li>
                  <li class="item-menu "><a href="#skills" class="font1">SKILLS</a></li>
                  <li class="item-menu "><a href="#intereses" class="font1">INTERESES</a></li>
              </ul>
      </div>
      <div class="der d-flex justify-content-end pb-2">
              <button type="button" class="btn btn-secondary ingresar "><a href="#salir" class="font1">INGRESAR</a> </button>
          </div>

       </nav>
      </header>
    -->
