<div class="container-position-nav pb-5">
  <div class="container-nav w-100">
    <nav class="text-light ">
      <ul class=" d-flex justify-content-center ">
        <li class="list-menu p-3"><a href=""><h3>SOBRE MI </h3></a>  </li>
        <li class="list-menu p-3"><a href=""><h3>EXPERIENCIA </h3></a>  </li>
        <li class="list-menu p-3"><a href=""><h3>EDUCACIÓN</h3></a> </li>
        <li class="list-menu p-3"><a href=""><h3>PROYECTOS </h3></a> </li>
        <li class="list-menu p-3"><a href=""><h3>SKILLS </h3></a> </li>
      </ul>
    </nav>
  </div>
</div>
