<div class="container-educacion text-center ">
  <h2 class="titulo-sobre-mi mt-5 pt-5">EDUCACIÓN</h2>
<div class="d-flex justify-content-center">
<div class="row d-flex w-75 justify-content-between mt-5">
  <div class="col col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img src=".\assets\logo-argentina-programa.jpg" class="card-img-top p-5" alt="...">
          <div class="card-body p-2 mt-3 mb-2">
            <h5 class="card-title">YO PROGRAMO-Desarrollo web Full Stack</h5>
            <p class="card-text">ARGENTINA PROGRAMA En curso</p>
          </div>
          <ul class="list-group list-group-flush p-2">
            <li class="list-group-item">-Git y Git Hub</li>
            <li class="list-group-item">-Gestión de tiempo</li>
            <li class="list-group-item">-SCRUM</li>
            <li class="list-group-item">-HTML:5</li>
            <li class="list-group-item">-CSS</li>
            <li class="list-group-item">-BOOSTRAP</li>
            <li class="list-group-item">-JavasCript</li>
            <li class="list-group-item">-Angular</li>
            <li class="list-group-item">-Base de datos</li>
            <li class="list-group-item">-Programación Orientada a Objetos</li>
            <li class="list-group-item">-Programa web con JAVA</li>
            <li class="list-group-item">-Back End con Spring Boot</li>
          </ul>

          <div class="card-body p-2">
            <a href="#" class="card-link">https://www.argentina.gob.ar/produccion/argentina-programa/segunda-etapa</a>
          </div>
        </div>
      </div>
      <div class="col col-sm-1 col-md-6 col-lg-3 mb-5">
        <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src=".\assets\logo-mumuki.svg" class="card-img-top p-5" alt="...">
            <div class="card-body p-2">
              <h5 class="card-title"> I2T-ETAPA 1-2022 SE PROGRAMAR
              </h5>
              <p class="card-text">MUMUKI Junio 2022 </p>
            </div>
            <ul class="list-group list-group-flush list-unstyled p-2">
              <li class="list-group-item">-Fundamentos de lógica</li>
              <li class="list-group-item">-Fundamentos de JavasCript </li>
              <li class="list-group-item">-Ruby básico</li>
            </ul>
            <div class="card-body p-2">
              <a href="#" class="card-link">https://mumuki.io/home/</a>
            </div>
          </div>
    </div>
  <div class="col col-sm-6 col-md-6 col-lg-3 mb-5">
      <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
          <img src="./assets/Logo.png" class="card-img-top " alt="...">
          <div class="card-body p-2">
            <h5 class="card-title">RESPONSIVE WEB DESIGNE
            </h5>
            <p class="card-text">FREECODECAMP abril 2022</p></div>
          <ul class="list-group list-group-flush p-2">
            <li class="list-group-item">-Css</li>
            <li class="list-group-item">-HTML</li>
            <li class="list-group-item">-Responsive design</li>
          </ul>
          <div class="card-body p-2">
            <a href="#" class="card-link">https://www.freecodecamp.org/learn/responsive-web-design/#basic-html-and-html5</a>
          </div>
        </div>
  </div>

  




