.container-img{
  position: relative;
  top:500px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 500px;

}
.inter-secciones {

    width:500px;
    height: 400px;
  background:
  url(src\assets\educacion-img.jpg);
  background-size: cover;

  
}