<div class="container-experiencias text-center ">
    <h2 class="titulo-sobre-mi mt-5 pt-5 ms-3 me-3">EXPERIENCIA</h2>
<div class="d-flex justify-content-center">
  <div class="row d-flex w-75 justify-content-between mt-5">
    <div class="col col-sm-6 col-md-6 col-lg-3 mb-5 ms-3 me-3">
        <div class="card tarjetas shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="./assets/Logo-alas.png" class="card-img-top p-5" alt="...">
            <div class="card-body p-2 mt-3 mb-2">
              <h5 class="card-title">Coordinadora de TICs</h5>
              <p class="card-text">Alas Empresa Jr.</p>
            </div>
            <ul class="list-group list-group-flush p-2">
              <li class="list-group-item">Desarrollo y mantenimiento en
                (WordPress).
            </li>
              <li class="list-group-item">Correos corporativos.</li>
              <li class="list-group-item">Relevar requerimientos</li>
            </ul>
            <div class="card-body p-2">
              <a href="#" class="card-link">https://www.alasempresajunior.com.ar/</a>
            </div>
          </div>
    </div>
    <div class="col col-sm-6 col-md-6 col-lg-3 mb-5 ms-3 me-3">
        <div class="card tarjetas shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="./assets/Logo.png" class="card-img-top " alt="...">
            <div class="card-body p-2">
              <h5 class="card-title">DESARROLLADORA WEB</h5>
              <p class="card-text">MisterioZ</p></div>
            <ul class="list-group list-group-flush p-2">
              <li class="list-group-item">Diseñar página en Adobe XD</li>
              <li class="list-group-item">Desarrollarla con CSS y HTML</li>
              <li class="list-group-item">Responsive design.</li>
            </ul>
            <div class="card-body p-2">
              <a href="#" class="card-link">https://misterioz.com/</a>
            </div>
          </div>
    </div>
    <div class="col col-sm-6 col-md-6 col-lg-3 mb-5 ms-3 me-3">
        <div class="card tarjetas shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
            <img src="./assets/experiencia.jpg" class="card-img-top p-5" alt="...">
            <div class="card-body p-2">
              <h5 class="card-title">DISEÑADORA</h5>
              <p class="card-text">Freelancer</p>
            </div>
            <ul class="list-group list-group-flush p-2">
              <li class="list-group-item">Tratar con el cliente</li>
              <li class="list-group-item">Realizar el diseño con sus revisiones en Adobe XD e ilustrator</li>
            </ul>
            <div class="card-body">
            </div>
          </div>
    </div>

</div>
  </div>
</div>

